
/* CSS */
.button.header {
  background-color: #ffc2fe;
  border-radius: 2px;
  border: 4px transparent;
  font-family: 'Silkscreen';
  box-shadow: #fffaff  0 2px 2px 0px  inset;
  box-sizing: border-box;
  color: #0047BB;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  line-height: 1rem;
  margin: 0px;
  outline: none;
  padding: 4px .3em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}


.button.header:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #004a82;
}
